.row{
  margin: 0 !important;
  padding: 0 !important;
}

.header{
  background-color: #f0c800;
  height: 70px;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.30);


}

.logo{
  padding-left: 5px;
  padding-top: 5px;
}

.logo-typography{
  height: 50px;
  width: 170px;
}

.logo-hexagon{
  height: 60px;
  cursor: pointer;
}

/*.digitaxi-logo{*/
  /*padding-left: 25%;*/
  /*!*padding-top: 2px;*!*/

/*}*/

.digimas{
  height: 50px;
  padding-left: 20px;
}

.logo-home{
  padding-top: 10px;
  height: 60px;
}

.img-center{
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;

}

.img-icon{
  opacity: 0.8;
  width: 45px;
  height: 45px;
  padding-left: 2px;
  margin-top: 5px;

}
.img-icon:hover{
  opacity: 1;
  cursor: pointer;
  width: 50px;
  height: 50px;
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  border-radius: 30%!important;
}

.img-header{
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-end;
  align-items:center !important;
  padding-right: 5%;


}



@media only screen and (max-width: 500px) {
  .img-mobile{
    margin-top: 8px;
    height: 27px;

  }
  .logo-typography{
    height: 25px;
    width: 85px;
  }

  .logo-hexagon{

    height: 40px;
    padding-left: 5px;

  }

  .header{

    height: 50px;

  }
  .digitaxi-logo{
    padding-top: 2px;
    padding-left: 2%;


  }

  .digimas{
    padding-top: 1px;
    height: 25px;
    /*padding-left: 0px;*/
  }

  .logo{
    height: 40px;
    padding-left: 0;
  }
  .img-icon{
    opacity: 1;
    width: 40px;
    height: 40px;
    margin-top: 5px;

  }


}
@media only screen and (max-width: 1500px)  and (min-width: 1499px){
  .header{

    height: 60px;

  }

  .logo-hexagon{
    height: 50px;

  }

  .logo-typography {
    height: 45px;
    width: 145px;
  }

  .digitaxi-logo{
    padding-left: 20%;

  }
  .digimas{
    height: 45px;
  }
}

@media only screen and (min-width: 1501px) {
  .header{

    height: 70px;

  }

  .logo-hexagon{
    height: 60px;

  }

  .logo-typography {
    height: 50px;
    width: 170px;
  }

  .digitaxi-logo{
    padding-top: 5px;
    padding-left: 25%;

  }
  .digimas{
    height: 50px;
  }

}
