<header class=" header">
  <div class="row">
  <div class="col-2 col-md-1 logo">
    <img (click)="onMenuButtonClick()" class="logo-hexagon" src="./assets/images/logos/hexagono.png"/>
  </div>
  <div class="col-10 col-md-11 img-header">
<a [routerLink]="['contacto']">
    <img  class="img-icon " src="./assets/images/logos/contacto.png"></a>
    <a target="_blank" href="https://www.facebook.com/digitaxi.co/?ref=br_rs">
  <img class="img-icon" src="./assets/images/logos/facebook.png">
    </a>

  </div>
  </div>
</header>
