.footer {
  background-color: #f0c800;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 400;
  padding: 15px;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.50);
}
p{
  margin: 5px;
}

@media only screen and (max-width: 500px) {
  .footer{
    font-size: 11px;
  }
  p{
    margin: 1px;
  }
  li{
    padding-left: 0;
  }
}

@media only screen and (min-width : 1800px) {
  .footer{
    font-size: 20px;
  }
}
