.column-text{
  display: flex;


  text-align: justify;
  padding: 20px 50px 0px 50px;
}

.title h1{
  font-size: 50px;
  font-weight: 200;
  text-transform: uppercase;
}
.title{
  padding-top: 10px;
}

.img-size{
  width: 90%;
  height: 420px;
  padding-left: 50px;
  padding-right: 50px;
}

.columns{
  display: flex;
  flex-direction: column;

}

@media only screen and (max-width: 800px) {
  .img-size{
    height: 300px;
  }
}

@media only screen and (max-width: 600px) {
  .img-size{
    height: 150px;
  }
}
@media only screen and (max-width: 250px) {
  .img-size{
    height: 100px;
  }
}
