<div class="row justify-content-center title">
  <h1>Taxistas</h1>
</div>

<div class="row">
  <div class="text-center">
  <img class="img-size" src="./assets/images/Web_Taxistas.png" />
  </div>
</div>
<div class="row">
  <div class="col-md-6 column-text columns">
  </div>
  <div class="col-md-6 column-text columns">
  </div>
</div>

