
<div (click)="play()">
<div class="banner-size">
  <div #slide id="demo" class="carousel slide banner" data-ride="carousel" data-interval="3000">
    <ul class="carousel-indicators">
      <li class="list" data-target="#demo" data-slide-to="0"></li>
      <li class="list" data-target="#demo" data-slide-to="1"></li>
      <li class="list" data-target="#demo" data-slide-to="2"></li>
      <li class="list" data-target="#demo" data-slide-to="3"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img title="Aplicaciones decreto 2163" alt="Habilitada por ministerio de transporte" class="img-fluid img-banner4" src="./assets/images/banner/banner_01.jpg" >
      </div>
      <div class="carousel-item" >


          <img title="DigiTaxi Digi+" alt="Servicio Taxi Colombia" class="img-fluid  img-banner1" src="./assets/images/banner/banner_02.jpg" >
      </div>
      <div class="carousel-item">
        <img title="Servicio de Taxi" alt="Verificación de conductores" class="img-fluid  img-banner2" src="./assets/images/banner/banner_03.jpg" >
      </div>
      <div class="carousel-item">
        <img title="Servicio de Taxi Bogotá" alt="Pantallas en Taxis" class="img-fluid  img-banner3" src="./assets/images/banner/banner_04.jpg" >
      </div>

    </div>
    <a  class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div>
<nav class="nav">
  <ul>
    <li [routerLink]="['empresas']"><a>Empresas de Taxis</a></li>
    <li [routerLink]="['nosotros']"><a>Nosotros</a></li>
    <li [routerLink]="['contacto']"><a>Contacto</a></li>
  </ul>
</nav>
<h1 class="text-center">¿Qué espera para ser parte de Digitaxi? Descargue hoy mismo la mejor aplicación</h1>
<div class="row text-home-container">
  <div class="col-md-4 text-home text-justify-dist">
    <div class="text-center">
      <img title="Experiencia Digitaxi" alt="Experiencia mi taxi" class="img-fluid img-home" src="./assets/images/experiencia.png" >
    </div>

    <h2 class="title-home">Experiencia</h2>
    <p>Somos una compañía Colombiana que en el año 2012 desarrollamos una plataforma
      de entretenimiento e instalamos pantallas interactivas en los <span class="font-weight-bold">taxis de Bogotá</span>
      con el fin de mejorar el servicio al usuario.
    </p>
    <p>
      Contamos con experiencia de más de 4 años en los siguientes aspectos:
    </p>
    <ul>
      <li>Conectividad de internet adecuada para el funcionamiento de las plataformas.</li>
      <li>Entretenimiento a bordo de taxis.</li>
      <li>Pauta digital para posicionamiento de la aplicación.</li>
      <li>Selección de proveedores para fabricación de pantallas a la medida.</li>
      <li>Instalación, mantenimiento y seguridad de pantallas.</li>
      <li>Actualizaciones de software en función de la regulación.</li>
      <li>Equipo de desarrollo propio.</li>
      <li>Desarrollo  de plataformas móviles.</li>
      <li>Atención personalizada.</li>
    </ul>
  </div>
  <div class="col-md-4 text-home text-justify-dist">
    <div class="text-center">
      <img  title="Empresa para taxistas " alt="Habilitados bajo la resolución 261" class="img-fluid img-home" src="./assets/images/habilitacion.png" >
    </div>
    <h2 class="title-home">Habilitación</h2>
    <p>En el año 2016 nos habilitamos ante el Ministerio de Transporte según la
      <span class="font-weight-bold">resolución 2163</span>.
      En el año 2017 obtuvimos acreditación de la Secretaría Distrital De Movilidad según la resolución 220,
      donde la  aplicación hace las veces de taximetro y reporta en tiempo real a las entidades de control.</p>
  </div>
  <div class="col-md-4 text-home text-justify-dist">
    <div class="text-center">
      <img title="Sinergia aplicación para taxistas " alt="App para taxistas" class="img-fluid img-home" src="./assets/images/sinergia.png" >
    </div>
    <h2 class="title-home ">Sinergia</h2>
    <p><span class="font-weight-bold">Pioneros en el modelo de una única aplicación a nivel nacional</span>,
      reuniendo el mayor número de empresas para ofrecer un servicio de calidad, combatiendo la ilegalidad.</p>
  </div>
</div>
<div class="row text-home-container">
  <div class="col-md-12 title-home">
    <h4>Nuestros aliados:</h4>
    <img class="img-fluid" src="./assets/images/Logos.jpg" >
  </div>
</div>
<div #close class="close-button" (click)="closeWindow()">Cerrar</div>
<div #videoContainer class="video-container"><video id="video" #video autoplay muted controls playsinline controlsList="nodownload">
  <source src="./assets/videos/video_digimas.m4v">
</video>
</div>
</div>

