h1{
  margin: 5px 5px 15px 5px;
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
}

ul{
  padding-left: 15px;
}

.carousel-inner img {
  text-align: center;
}
.banner{
  text-align: center;
  background-color: black;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.40);
}

.banner-size{
  width: 100%;
}
.nav{
  text-transform: uppercase;
  height: 70px;
  text-align: center;
}
.nav ul {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.20);
  width: 100%;
  background: #999999;
  color: #dadada;
  cursor: pointer;
  padding: 0;

}
.nav li {
  flex: 1;
  list-style: none;
  color: black;
  font-weight: 400;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  -webkit-transition:All 0s ease;
}
.nav a:hover{
  -webkit-transform: scale(1.07) skew(1deg) translate(0px);
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  font-weight: 500;
}
.text-justify-dist{
  text-align: justify;
  text-justify: distribute;
}

.text-home{
  padding: 0 4% 0 4%;
}

.title-home{
  text-align: center;
  margin-bottom: 5% !important;
}

.text-home p, .text-home  ul{
  font-family: "Century Gothic";
}
.text-home-container{

  padding: 0 5% 2% 5%;
}

.carousel-control-prev a {
  margin: 0 !important;
  padding: 0 !important;
}

.carousel-control-next, .carousel-control-prev {
  top: 50px;
  bottom: 50px;
}
.nav ul li:nth-child(2n) {
  background: #cccccc;
}

.img-link{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 0;

  padding-bottom: 25px;
  padding-top: 25px;
}
.link-appstore{
  width: 20%;
  height: 17%;
  position: fixed;
  top: 48%;
  left: 45%;
}
.link-appstore:hover{
  cursor: pointer;
}

.link-googleplay{

  width: 20%;
  height: 17%;
  position: fixed;
  top: 48%;
  left: 70%;
}
.link-googleplay:hover{
  cursor: pointer;
}

.video-container{
  position: fixed;
  top: 60%;
  right: 0;
  max-width: 400px;
  width: 100%;
  padding: 0 !important;
  z-index: 9999;
}

video{
  width: 100%    !important;
  height: auto   !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
  z-index: 9999;
}
.close-button{
  color: white;
  font-size: 13px;
  position: fixed;
  top: 60%;
  right: 0;
  max-width: 400px;
  width: 100%;

  z-index: 99999;
  padding-left: 10px;
  padding-top: 10px;
}
.change-display{
  display: none;
}
video::-webkit-media-controls-panel{
  background-color: black;
  margin: 0 !important;
}
.close-button:hover{
  cursor: pointer;
}

@media only screen and (min-width : 1800px) {
  .text-home p, .text-home ul {
    font-size: 20px;
  }

  h2 {
    font-size: 30px;
  }

  .nav ul {
    font-size: 25px;
    height: 80px;
  }

  .carousel-size{
    width: 100%;
    height: 651px;
    max-width: 2000px;
  }

  .img-home{
    margin-top: 5%;
  }
  /*.video-container {*/
    /*height: 651px !important;*/
  /*}*/

  /*.video-container iframe, .video-container object, .video-container embed {*/
    /*width:100%;*/
    /*height: 651px !important;*/

  /*}*/

}

@media only screen and (min-width : 800px) {

  .carousel-size{
    width: 100%;
    height: 420px;
    max-width: 2000px;
  }
}
@media only screen and (max-width : 800px) {

  .carousel-size {
    width: 100%;
    height: 320px;
    max-width: 2000px;
  }
}


@media only screen and (max-width: 480px) {
  .video-container {

    top: auto;
    bottom: 0;
  }
  .close-button{
    bottom: 200px;
    top: auto;
    padding-top: 5px;

  }
  h4{
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 20px;
  }

  .nav{
    height: 60px;
  }
  .logo{
    width: 100%;
  }
  .nav li{
    font-size: 12px;
  }

  .carousel-indicators li{
    height: 2px;
    width: 10px;

  }
  .carousel-indicators{
    margin: 0;
  }

  .carousel-size{
    width: 100%;
    height: 220px;
    max-width: 2000px;
  }

  .img-home{
    height: 120px;
  }

  .img-banner1{

    /*background-image: url('../../../assets/images/banner/banner_movil_01.jpg');*/
  }
  .img-banner2{
    /*background-image: url('../../../assets/images/banner/banner_movil_02.jpg');*/
  }
  .img-banner3{
    /*background-image: url('../../../assets/images/banner/banner_movil_03.jpg');*/
  }
  .img-banner4{
    /*background-image: url('../../../assets/images/banner/banner_movil_03.jpg'); */
  }
  .link-appstore{
    display: none;
  }
  .link-googleplay{
    display: none;
  }
  h1{
    margin-top: 3%;
    font-size: 20px;
    font-weight: 400;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media only screen and (min-width : 1800px) {
  .img-home{
    margin-top: 10%;
  }
  .carousel-size{

    height: 651px;
    width: 2000px;

  }
  .video-container {
    max-width: 700px;
    top: 45%;

  }

  .close-button{
    top: 45%;
    right: 100px;
    padding-top: 15px;
    font-size: 20px;

  }

}
@media only screen and (max-width: 380px) {
  .close-button{

    bottom: 185px;

  }
}
