<div class="cont">
  <div class="row justify-content-center title">
    <div class="col-md-12 text-center">
      <h1>Asóciese hoy mismo con la aplicación diseñada para los mejores taxistas en Colombia</h1>
    </div>
  </div>
  <div class="row justify-content-center title ">
  </div>
  <div class="row" >
    <div  class="col-md-6  order-2 column-text align margin-info">
      <ul  style="color: white">
        <li>Aplicación habilitada por el ministerio de transporte.<br/> Resolución 2163.
          <a class="link-dwload" href="./assets/docs/Resolucion%205467.pdf"
             download="./assets/docs/Resolucion%205467.pdf" (click)="downloadAll()">Descargue aquí</a></li>
        <a #link2 style="display: none;" ></a>
        <li>Acreditada por Secretaría de Movilidad. Resolución 220.</li>
        <li>Verificación de conductores por el SIRC.</li>
        <li>4 años de experiencia con pantallas en taxis.</li>
        <li>Actualizaciones de software en función de la  regulación.</li>
        <li>Equipo de Desarrollo propio.</li>
        <li>Pauta digital para posicionar aplicación.</li>
      </ul>
      <div class="row">
        <div class="col-md-6">
      <img title="Aplicación para taxistas"
           alt="Aplicación habilitada en Bogotá" class="img-fluid img-logo" src="./assets/images/logos/Digitaxi_LOGO.png">
          <!--<p>-->
          <!--<span style="color: #ffe332">info@digitaxi.co</span></p>-->
      </div>
        <div class="col-md-6">
      <div style="color: white">

      <p>
        +1 57 256 69 09<br/>
        57 313 406 97 42
      </p>
      <p>
        Carrera 28b  No. 84 - 48
        Barrio Polo Club
      </p>
      <p>
        Bogotá, Colombia
      </p>
      </div>
        </div>
    </div>
     <h6 style="color: white; font-weight: 400; font-size: 17px">Nuestros aliados:</h6>
      <img class="img-mb" width="500" src="./assets/images/Logos.jpg"  style="padding-left: 2%" >
    </div>
    <div class="col-md-4 order-1 order-md-5 align margin">

      <form class="form" #userForm="ngForm" ngNativeValidate (ngSubmit)="onSubmit()">
        <h6 class="content-center" style="color: white" >Escríbanos y resolveremos sus inquietudes</h6>
        <input class="small form-control form-background" #name="ngModel" placeholder="Nombre*" name="name" [(ngModel)]="user.name" required type="text" >
        <div class="row">
          <div class="col-md-6 form-rg"  >
            <input class="small form-control form-background" #email="ngModel" placeholder="Email*" name="email" [(ngModel)]="user.email" required type="email" >
          </div>
          <div class="col-md-6 form-lf">
            <input class="small form-control form-background" #phone="ngModel" placeholder="Teléfono*" name="phone" [(ngModel)]="user.phone" required type="text" >
          </div>
        </div>
        <input class="small form-control form-background" #subject="ngModel" placeholder="Asunto" name="subject" [(ngModel)]="user.subject" type="text" >
        <textarea class="form-control form-background" rows="5" #body="ngModel" placeholder="Mensaje..." name="body" [(ngModel)]="user.body"></textarea>
        <button type="submit" class="btn-send btn-sm">Enviar</button>
      </form>

    </div>
  </div>
  <div class="row justify-content-center" style="padding-bottom:20px">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15906.225092051296!2d-74.0651637!3d4.6729026!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8ab47d5ab4706320!2sDigiTaxi+%2F+Digi+%2B!5e0!3m2!1ses!2sco!4v1515772195563"
            width="80%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
<!--<div class="modal fade" id="myModal">-->
  <!--<div class="modal-dialog" role="document">-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-body align-middle">-->
        <!--<p class="text-center ">Su correo ha sido enviado exitosamente.</p>-->
      <!--</div>-->
      <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn" (click)="onClick()" >Aceptar</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
