.cont{
  background-image: url("../../../assets/images/contacto-background.jpg");
  background-position: center;
  background-attachment: fixed;
  color: white;
}

.form{
  background-color: rgba(59, 194, 225, 0.8);
  padding: 2% 5% 2% 5%;
  border-top-left-radius:11px;
  border-top-right-radius:11px;
  border-bottom-left-radius:11px;
  border-bottom-right-radius:11px;
  margin: 10px 0 20px 0;

}

.link-dwload{
  color: #ffe332;
  text-decoration: none;
  font-weight: 500;
}
.link-dwload:hover {
  color: #ffffff;
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}

.margin-info{

  margin-left: 2%;
  margin-bottom: 2%;
}
.form-control{
  border-top-left-radius:0;
  border-top-right-radius:0;
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
  border: 0;
  margin: 0 0 6px 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.align{
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  color: #6a6a6a;
}

.title h1{
  margin-top: 1%;
  font-size: 30px;
  font-weight: 200;
  text-transform: uppercase;
}

.title h5 {
  font-weight: 400;
}
.title{
  padding-top: 10px;
}

h6{
  margin-top: 0;
  font-size: 22px;
  font-weight: 200;
  margin-bottom: 3%;
}

.img-logo{

}

.form-size{
  width: 50%;

}
.content-center{
  text-align: center;
}
.map{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
}
ul{
  padding-top: 5%;
  text-align: justify;
  padding-bottom: 2%;
}

.btn-send{
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffe332;
  background-color: black;
  width: 100%;
  border-color: transparent;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  height: 50px;
  margin-top: 2%;

}
.btn-send:hover {
  font-weight: 700;
 cursor: pointer;
  color: #000 !important;
  background-color: rgb(232, 232, 232);
  -moz-box-shadow: 0px 0px 10px #ffffff;
  -webkit-box-shadow: 0px 0px 10px #ffffff;
  box-shadow: 0px 0px 10px #ffffff;

}


.form-rg{
 padding-right: 3px;
}

.form-lf{
  padding-left: 3px;
}

.activo #overlay {
  visibility: visible;
  opacity: .6;
  left: 300px;
}

@media only screen and (max-width: 770px) {
  .img-mb{
   width: 300px;
    margin-bottom: 10px;
  }
  .form-rg{
   margin-right: 12px;
  }

  .form-lf{
    margin-left: 12px;
  }

  .form{
    margin-left: 0;
    margin-right: 0;
  }

  .title h1 {
    margin-top: 3%;
    font-size: 20px;
    font-weight: 400;
  }
  .title h5{
    font-size: 14px;
  }
  .row{
    font-size: 15px;
  }
  .column-text{
    padding: 20%;
    text-align: center;
  }
  .align{
    padding: 0;
  }

  iframe{
    height: 200px;
  }
  .small{
    height: 30px;
  }
  .btn-sm{
    height: 30px;
    font-size: 13px;
    margin-bottom: 2px;
  }
  .img-logo{
    margin-bottom: 5%;
    margin-top: 5%;
  }
  .margin{
    margin-left: 0;
  }
  .margin-info{
    margin-left: 0;
  }

}
@media only screen and (min-width : 1800px) {
  p {
    font-size: 20px;
  }
}
