.body{
  height:100%;
  overflow-x: hidden;
  display: flex;
  min-height: 100%;

}

.page{

  width: 100%;

}

.extra{
  padding-top: 1%;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.fixed-icon{
  position: fixed;
  z-index: 999;
  top: 50%;

}

.img-icon{

  width: 50px;
  height: 50px;

}


@media only screen and (max-width: 500px) {


}

@media only screen and (min-width : 1800px) {
  .img-icon{
    width: 70px;
    height: 70px;
  }
  .author{
    font-size: 20px
  }
}
