<!--<router-outlet></router-outlet>-->
<div class="fixed-icon">
  <a href="https://api.whatsapp.com/send?l=es&phone=573134069742&text=Hola%2C%20quiero%20m%C3%A1s%20informaci%C3%B3n"
     onClick="ga(['send', 'event', ' whatsapp', ' Boton', 'clic'])"
     target="_blank">
    <img class="img-icon" src="./assets/images/logos/whatsapp.png">
  </a>
</div>
<div class="body">
  <app-menu-header [onChange]="onMenuButtonClick.bind(this)" [menuOpen]="menuOpen"></app-menu-header>
  <div class="page {{menuOpen ? 'menu_open' : ''}}">
    <app-header [onMenuButtonClick]="onMenuButtonClick.bind(this)"></app-header>
    <app-content></app-content>
    <app-footer></app-footer>
    <div class="extra">
      <p class="author">By Digimarketing 2018</p>
    </div>
  </div>
</div>

