a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  transition-delay: 0s;
  transition-duration: 0.36s;
  transition-property: all;
  transition-timing-function: line;
}


.a_open {
  font-weight: 400 !important;
  opacity: 1 !important;
  text-indent: 0px !important;
  color: #EEFFE5 !important;
}

.li_open {
  border-left: 1px solid yellow !important;
}
/*.menu, .menu:hover {*/
  /*padding: 1em;*/
/*}*/
.menu a {
  text-indent: -200px;
}
/*.menu:hover a {*/
  /*text-indent: 0px;*/
  /*color: #EEFFE5;*/
/*}*/
svg, a {
  vertical-align: top;
}
.menu {
  float: left;
  left: 0;
  top: 0;
  bottom: 0;
  display: block;
  width: 0;
  /*height: 100%;*/
  margin: 0;
  padding: 0;
  font-size:100%;
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
  z-index: 999;
}
.menu_open {
  /*position: fixed;*/
  left: 0;
  top: 0;
  bottom: 0;
  min-height: 100%;
  width: 250px;
  background-color: #000000;
  padding: 1em;
}
.menu a {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  margin-left: 1em;
}
/*.menu:hover a {*/

  /*opacity: 1;*/
/*}*/
li {
  display: block;
  margin-bottom: 15px;
  color: black !important;
}

.center{

  align-items: center !important;
  text-align: center !important;
  justify-content: center !important;
}

li:hover{
  background-color: rgba(240,200,0,0.9);
 cursor: pointer;
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}

svg, a {
  display: inline-block;
}


/*.menu:hover li{*/
  /*border-left: 1px solid yellow;*/
/*}*/
.none-syle{
  border-color: black !important;
}

.close_button{
display: none;
}
.active-link{
  outline: 0 !important;
}

@media only screen and (max-width: 500px) {
  .menu_open {
    width:100%;
    padding: 20px 0px 0px 0px;
    font-size: 18px;
    position: fixed;
  }
  ul{
    margin-top: 5%;
  }
  li{
    margin-top: 7%;
  }
  li:hover{
    background-color: rgba(200,240,0,0.1);
  }
  .close_button{
    display: block;
    margin-left: 90%;
    color: white;
  }

}
