
<div class="menu {{menuOpen ? 'menu_open' : ''}}">
  <div  class="close_button">
    <i (click)="onChange()" class="fa fa-window-close" aria-hidden="true"></i>
  </div>
  <ul>
    <li [routerLink]="['']" (click)="onChange()" class="{{menuOpen ? 'li_open' : ''}} active-link " >
      <a  class="{{menuOpen ? 'a_open' : ''}}">Inicio</a>
    </li>
    <li [routerLink]="['empresas']" (click)="onChange()" class="{{menuOpen ? 'li_open' : ''}} active-link " >
      <a  class="{{menuOpen ? 'a_open' : ''}}">Digitaxi para Empresas</a>
    </li>
    <!--<li [routerLink]="['taxistas']" (click)="onChange()" class="{{menuOpen ? 'li_open' : ''}}" >-->
      <!--<a class="{{menuOpen ? 'a_open' : ''}} active-link ">Digitaxi para Taxistas</a>-->
    <!--</li>-->
    <li [routerLink]="['contacto']" (click)="onChange()" class="{{menuOpen ? 'li_open' : ''}} active-link " >
      <a class="{{menuOpen ? 'a_open' : ''}}">Contacto</a>
    </li>
  </ul>
</div>
