.link-dwload{

  text-decoration: none;

}

.column-text{
  font-family: "Century Gothic";
  padding: 20px 25px 0px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.row{
  justify-content: center;
  justify-items: center;

  text-align: justify;


  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;

}

.title h1{
  margin-top: 1%;
  font-size: 30px;
  font-weight: 200;
  text-transform: uppercase;
}
.title{
  padding-top: 10px;
}

li{
  /*padding-left: 5px;*/
}
ul{
  /*padding-left: 25px;*/
  /*text-align: justify;*/
}

.img-size{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}



@media only screen and (max-width: 500px) {
  .img-mobile{
   display: none;
  }
  .title h1{
    margin-top: 3%;
    font-size: 20px;
    font-weight: 400;
  }
}
@media only screen and (max-width: 800px) {
  /*.img-size{*/
    /*height: 300px;*/
  /*}*/
}

@media only screen and (max-width: 600px) {
  .img-size {
    height: 200px;
    padding: 15px;
  }
  .column-text{
    padding: 15px;
    padding-top: 0;
  }
  ul{
    padding-left: 20px;
  }

}

  @media only screen and (min-width: 1500px) {
    .img-size{
      height: 500px;
    }
    .row {

      padding-left: 10%;
      padding-right: 10%;
    }
}
@media only screen and (min-width : 1800px) {
  p {
    font-size: 20px;
  }
}
