<div class="row justify-content-center title">
  <div class="col-md-12 text-center">
    <h1>Conoce  Digitaxi la aplicación con los mejores taxistas</h1>
  </div>
</div>

<div class="row text-center">

  <img title="Aplicación habilitada" alt="Ministerio de trasporte resolución 2161" class="img-fluid img-mobile" src="./assets/images/Empresas.jpg"/>

</div>
<div class="row">
  <div class="col-lg-6 column-text">
    <p>En el año 2012 desarrollamos una plataforma para que
    las empresas de taxis tuvieran el manejo y control
    total de la flota a través de las nuevas tecnologías en un modelo de sinergia empresarial.
    Adicionalmente dada la experiencia con taxis y con el usuario final, <span class="font-weight-bold">
        desarrollamos una plataforma</span>
      de entretenimiento que buscaba dar una nueva y divertida experiencia al usuario de taxi.</p>
    <p><span class="font-weight-bold">En el año 2016 el Ministerio de Transporte reglamenta el servicio de lujo</span>
      y el uso de plataformas para
      la solicitud de taxis a nivel nacional, por lo cual obtuvimos habilitación para prestar el servicio
      legalmente en todo el territorio nacional. Para al año 2017 la Secretaría Distrital de Movilidad ve
      como solución a la problematica actual la implementación de pantallas con un taximetro integrado
      y la verificación de conductores que prestan el servicio
      a través del SIRC. Esto con el fin de mejorar el <span class="font-weight-bold">servicio legal de taxis </span>
      en Bogotá y recobrar la
      confianza de los usuarios.</p>
    <p>La sinergia consiste en reunir el mayor numero de empresas de taxis
      a nivel nacional con una <span class="font-weight-bold">aplicación única de cara al usuario </span> , con el fin de tener el mayor numero
      de vehículos en cada ciudad para responder de manera ágil y oportuna a la demanda de los servicios
      generados por los usuario. Con esta sinergia buscamos mejorar el servicio prestado a los usuarios y
      combatir la ilegalidad.</p>
  </div>
  <div class="col-lg-6 column-text">
    <div>
    <p >Principales funcionalidades de nuestra plataforma:</p>
    <ul>
      <li>Habilitación por el ministerio de transporte, con la resolución 3815 y 5467 de 2017.
        <a class="link-dwload" href="./assets/docs/Resolucion%205467.pdf"
           download="./assets/docs/Resolucion%205467.pdf" (click)="downloadAll()">Descargue aquí</a></li>
        <a #link2 style="display: none;" ></a>
      <li>Acreditados por Secretaría Distrital de Movilidad según resolución 220 de 2017.</li>
      <li>Conductores certificados por el SIRC.</li>
      <li>Tarifa regulada</li>
      <li>Control y regulación por parte de las entidades estatáles.</li>
      <li>Control de taxis y conductores.</li>
      <li>Sinergia empresarial.</li>
      <li>Plataforma Web para generar servicios.</li>
      <li>Servicios de vales electrónicos.</li>
      <li>Ubicación de la flota de taxis en tiempo real desde la plataforma Web.</li>
      <li>Comunicación de audio, texto o imágenes a toda la flota o conductores específicos.</li>
      <li>Estrategia y pauta publicitaria dirigida a los usuarios para descargar la app.</li>
    </ul>
  </div>
  </div>
</div>
