<div class="a">
<div class="container">
  <div class="card">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-12 align">
          <label>Usuario</label>
          <input name="name" [(ngModel)]="data.username" type="text"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 align">
          <label>Contraseña</label>
          <input name="password" [(ngModel)]="this.password" type="password"/>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-12">
          <button  type="submit" class="btn btn-outline-warning">Ingresar</button>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
</div>
