.a{
  /*background-image: url("../../../assets/images/contacto-background.jpg");*/
  /*background-position: center;*/

}
.card{
  padding: 2%;
  /*background-color: rgba(255,255,255,0.5);*/
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;


}

.align {
  display: flex;
   flex-direction: column;
}
