
.column-text{
  display: flex;
  align-items: center;

  text-align: justify;
  padding: 20px 50px 0px 50px;

}
.row{
  justify-content: center;
  justify-items: center;

  text-align: justify;


  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 2%;

}

.title h1{
  margin-top: 1%;
  font-size: 30px;
  font-weight: 200;
  text-transform: uppercase;
}
.title{
  padding-top: 10px;
}


.text-column{
  flex-direction: column;

}
.text-column p{
  font-family: "Century Gothic";
}

.img-size{
  width: 100%;
  height: 420px;
  padding-left: 50px;
  padding-right: 50px;
}

@media only screen and (max-width: 950px) {
  .img-size{
    height: 400px;
  }
}

@media only screen and (max-width: 750px) {
  .img-size{
    height: 300px;
  }
}
@media only screen and (max-width: 600px) {
  .img-size{
    height: 250px;
  }
}
@media only screen and (max-width: 500px) {
  .img-size{
    height: 200px;
  }

  .img-nosotros{
    display: none;
  }
  .title h1{
    margin-top: 3%;
    font-size: 20px;
    font-weight: 400;
  }

}
@media only screen and (max-width: 400px) {
  .img-size{
    height: 150px;
  }
  .row{
    padding-left: 0;
    padding-right: 0;


  }
}
@media only screen and (min-width : 1800px) {
  p {
    font-size: 20px;
  }
}
