<div class="row justify-content-center title">
  <div class="col-md-12 text-center">
    <h1>Conoce más sobre Digitaxi, la mejor aplicación para taxistas</h1>
  </div>
</div>
<div class="row text-center">
  <img title="Digitaxi aplicación" alt="Acreditada por la secretaría de movilidad resolución 220" class="img-fluid img-nosotros" src="./assets/images/Nosotros.jpg" />
</div>
<div class="row">
  <div class="col-md-6 column-text text-column">
    <h4>Quienes Somos</h4>
    <p>DigiTaxi  y Digi+  pertenecen al grupo empresarial colombiano DigiMarketing, el cual cuenta con mas de 5 años de experiencia
      como agencia digital y casa de desarrollo.<br/>
      DigiTaxi y Digi+ nace como una solución a la necesidad de mejorar la experiencia del usuario a bordo del sistema de transporte
      individual (Taxi).
    </p>
    <p>Durante estos años de trabajo hemos adquirido la expereciencia necesaria en todo lo relacionado al desarrollo de la aplicación
      para usuario, conductor y servidor web,
      tambien amplia experiencia en la compra, adecuación  y conectividad de pantallas a bordo de los taxis.</p>
  </div>
  <div class="col-md-6 column-text text-column">
    <h4>Lo que hacemos</h4>
    <p>Ofrecemos soluciones integrales de diseño para los diferentes escenarios virtuales en los que interactúen nuestros clientes.</p>
    <p>Profesionalismo, pasión, compromiso e integridad son la base de nuestra cultura organizacional y de servicio.</p>
  </div>
</div>

